@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject NavigationManager NavManager

@page "/"
@using EconomyPlanner.Web.Services.Interfaces
<PageTitle>Index</PageTitle>

<h1>EconomyPlanner</h1>

<SurveyPrompt Title="How is Blazor working for you?"/>

@code{
    
    [Inject]
    private IHouseholdService HouseholdService { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        if(!await HouseholdService.HasSavedLogin())
            NavManager.NavigateTo("/login");
    }

 
}