@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject NavigationManager NavManager
@page "/"
@using EconomyPlanner.Web.Services.Interfaces

<PageTitle>Index</PageTitle>

<h1>Economic overview</h1>
<h2>+ 1200:-</h2>
<br/>
<br/>

<p><b>Expenses:</b></p>
<div class="alert alert-secondary mt-4">
    <span class="bi-basket-fill" aria-hidden="true"></span>
    <span class="text-nowrap">
        <b>Shopping</b> 500:-
    </span>
    <br/>
    <span class="bi-house-heart-fill" aria-hidden="true"></span>
    <span class="text-nowrap">
        <b>Household</b> 750:-
    </span>
</div>
<br/>
<p><b>Incomes:</b></p>
<div class="alert alert-secondary mt-4">
    <span class="bi-cash-stack" aria-hidden="true"></span>
    <span class="text-nowrap">
        <b>Salary</b> 28000:-
    </span>
    <br/>
    <span class="bi-bag-plus-fill" aria-hidden="true"></span>
    <span class="text-nowrap">
        <b>Returns</b> 750:-
    </span>
</div>

@code{

    [Inject]
    private IHouseholdService HouseholdService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (!await HouseholdService.HasSavedLogin())
            NavManager.NavigateTo("/login");
    }


}