@using EconomyPlanner.Web.Models
@using EconomyPlanner.Web.Services.Interfaces

<p>Name:</p>
<input class="form-control" type="text" @bind="NewExpense.Name">
<br/>
<p>Amount:</p>
<input class="form-control" type="number" @bind="NewExpense.Amount">
<br/>
<p>Expense type:</p>
<div class="form-group">
    <select class="form-control" id="transactionTypeSelector" onchange="@SelectorOnChange">
        @foreach (var expenseType in ExpenseTypes)
        {
            <option>@expenseType</option>
        }
    </select>
</div>
<br/>
<div class="form-check">
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" @onchange="eventArgs => { RecurringCheckboxClicked(eventArgs.Value); }">
    <label class="form-check-label" for="flexSwitchCheckDefault">Make recurring</label>
</div>
<br/>
<div hidden="@HideRecurringForm">
    <p>Recurring amount:</p>
    <input class="form-control" type="number" @bind="NewExpense.RecurringAmount">
</div>
<br/>
<button class="btn btn-dark text-center" @onclick="AddExpense">Add</button>
@code
{
    [Inject]
    private IExpenseService ExpenseService { get; set; } = null!;
    
    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; } = default!;

    [CascadingParameter]
    public IModalService Modal { get; set; } = default!;

    [Parameter]
    public List<string> ExpenseTypes { get; set; } = new();

    [Parameter]
    public EconomyPlanModel EconomyPlanModel { get; set; } = new();

    [Parameter]
    public string HouseholdGuid { get; set; } = "";
    
    private CreateExpenseModel NewExpense { get; set; } = new();

    private bool HideRecurringForm => !NewExpense.IsRecurring;

    private void SelectorOnChange(ChangeEventArgs e)
    {
        NewExpense.ExpenseType = e.Value?.ToString() ?? string.Empty;
    }
    
    private void RecurringCheckboxClicked(object checkedValue)
    {
        if ((bool)checkedValue)
        {
            NewExpense.IsRecurring = true;
        }
        else
        {
            NewExpense.IsRecurring = false;
        }
    }

    private async Task AddExpense()
    {
        NewExpense.EconomyPlanId = EconomyPlanModel.Id;
        NewExpense.HouseholdGuid = HouseholdGuid;
        
        await ExpenseService.AddExpense(NewExpense);
        await Close();
    }
    
    protected override async Task OnInitializedAsync()
    {
        NewExpense.ExpenseType = ExpenseTypes.FirstOrDefault() ?? string.Empty;
    }
    
    private async Task Close() => await BlazoredModal.CloseAsync();
}