@using EconomyPlanner.Web.Models
@using EconomyPlanner.Web.Services.Interfaces
<p>Old value:</p>
<input class="form-control" type="text" placeholder="@RecurringExpenseModel.Amount" readonly>
<br/>
<p>New value:</p>
<input class="form-control" type="number" @bind="NewRecurringExpenseAmount" placeholder="@RecurringExpenseModel.Amount">
<br/>
<button class="btn btn-dark text-center" @onclick="Save">Save</button>
@code
{
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;
    [CascadingParameter] public IModalService Modal { get; set; } = default!;

    [Parameter]
    public ExpenseModel RecurringExpenseModel { get; set; } = new();
    
    [Inject]
    private IExpenseService ExpenseService { get; set; } = null!;

    private decimal NewRecurringExpenseAmount { get; set; } = 0;
    
    protected override async Task OnInitializedAsync()
    {
        NewRecurringExpenseAmount = RecurringExpenseModel.Amount;
    }
    
    private async Task Save()
    {
        RecurringExpenseModel.Amount = NewRecurringExpenseAmount;
        await ExpenseService.UpdateRecurringExpense(RecurringExpenseModel);
        
        await Close();
    }
    private async Task Close() => await BlazoredModal.CloseAsync();
}