<p>Old value:</p>
<input class="form-control" type="text" placeholder="@Amount" readonly>
<br/>
<p>New value:</p>
<input class="form-control" type="number" placeholder="@Amount">
<br/>
<button class="btn btn-dark text-center" @onclick="Save">Save</button>
@code
{
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;
    [CascadingParameter] public IModalService Modal { get; set; } = default!;

    [Parameter]
    public decimal Amount { get; set; }
    
    private async Task Save()
    {
        await Close();
    }
    private async Task Close() => await BlazoredModal.CloseAsync();
}