@using EconomyPlanner.Web.Services.Interfaces
@using EconomyPlanner.Web.Models

<p>Tidigare namn:</p>
<input class="form-control" type="text" placeholder="@RecurringExpenseModel.Name" readonly>
<br/>
<p>Nytt namn:</p>
<input class="form-control" type="text" @bind="NewRecurringExpenseName" placeholder="@RecurringExpenseModel.Name">
<br/>
<button class="btn btn-dark text-center" @onclick="Save">Spara</button>
@code
{
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;
    [CascadingParameter] public IModalService Modal { get; set; } = default!;

    [Parameter]
    public ExpenseModel RecurringExpenseModel { get; set; } = new();

    [Inject]
    private IExpenseService ExpenseService { get; set; } = null!;

    private string NewRecurringExpenseName { get; set; } = "";
    
    private async Task Save()
    {
        RecurringExpenseModel.Name = NewRecurringExpenseName;
        
        await ExpenseService.UpdateRecurringExpense(RecurringExpenseModel);
        
        await Close();
    }
    private async Task Close() => await BlazoredModal.CloseAsync();
}